header {
  background-color: rgb(247, 247, 247);
  border-bottom: 2px solid rgb(69, 196, 255);
  border-top: 2px solid rgb(69, 196, 255);
  height: 150px;
  width: 100%;
}

#links {
  font-family: monospace;
  color: rgb(69, 196, 255);
  text-decoration: none;
  font-size: 20px;
}

.headshot {
  display: block;
  align-content: center;
  height: 700px;
  width: auto;
  margin: 40px auto;
  border-radius: 20px;
}

body {
  background-color: rgb(28, 28, 28);
  width: 100%;
}

section {
  background-color: rgb(247, 247, 247);
  width: 70%;
  border: 2px solid rgb(69, 196, 255);
  border-radius: 20px;
  margin: 40px auto;
  padding: 40px;
}

h1 {
  font-family: "futura-bold";
  text-align: left;
  color: rgb(34, 62, 94);
}

h2 {
  font-family: paralucent;
  font-size: 23px;
  font-weight: 900;
  color: rgb(19, 19, 19);
  letter-spacing: 0.05em;
}

/* dates */
h4 {
  font-family: monospace;
  color: rgb(69, 196, 255);
}

.logos {
  margin-right: 50px;
  width: 100px;
}

li,
p,
ul,
td {
  font-family: futura;
  font-weight: 200;
  font-size: 14px;
  padding: 3px;
  color: rgb(27, 27, 27);
}

h5 {
  font-family: futura;
  font-weight: 200;
  font-size: 14px;
  color: rgb(27, 27, 27);
}

.bold {
}

.table {
  color: white;
  width: 800px;
  font-family: paralucent;
  font-size: 23px;
  font-weight: 900;
  background-color: rgb(34, 62, 94);
  padding: 5px;
  letter-spacing: 0.1em;
}

.flexheader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}

header ul {
  text-align: center;
}

.flexcontent {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: flex-start;
}

table,
td {
  border: 1px solid rgb(69, 196, 255);
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px;
}

@media screen and (max-width: 900px) {
  .flexcontent {
    flex-direction: column;
    align-items: center;
  }

  .flexheader {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .logos {
    margin-bottom: 20px;
  }

  header {
    height: 250px;
  }
}

#links:hover::after {
  content: "Click to see portfolio site";
  position: absolute;
  bottom: 24px;
  min-width: 200px;
  border: 1px #008cff solid;
  background-color: #000000;
  padding: 12px;
  color: #fff;
  font-size: 80%;
}

#links:hover {
  font-weight: bolder;
}
