header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-image: linear-gradient(rgb(1, 16, 36), rgb(1, 17, 30));
  border-bottom: 2px solid rgb(69, 196, 255);
  height: 200px;
  width: 100%;
  box-shadow: 0px 5px 50px black;
  margin-bottom: 100px;
  position: fixed;
}

#logo {
  width: 100px;
  height: auto;
  margin: 40px;
}

#name {
  font-size: 25pt;

  color: rgb(69, 196, 255);
}

.logolockup {
  display: inline-flex;
  align-items: center;
}

#links {
  font-family: paralucent;
  letter-spacing: 0.5px;
  color: rgb(69, 196, 255);
  text-decoration: none;
  font-size: 24px;
  margin: 0 50px 0 50px;
}

#links:hover {
  font-weight: bolder;
  text-shadow: 2px 2px 10px rgb(69, 196, 255);
  filter: dropshadow(rgb(69, 196, 255), off x=-2, off y=0);
}

#headshot {
  height: 570px;
  border-radius: 18px 0 0 18px;
  margin-right: 40px;
}

.flexprofile {
  display: flex;
  width: 70%;
  margin-top: 275px;
  padding: 0px;
}

body {
  background-image: url(https://static.wixstatic.com/media/be3735_b6158143609c4d9293f7dfb09dc847ac~mv2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section {
  background-color: rgb(247, 247, 247);
  width: 70%;
  border: 2px solid rgb(69, 196, 255);
  border-radius: 20px;
  margin: 40px auto;
  padding: 40px;
}

article {
  margin: 60px 40px 40px 40px;
}

/* bold headers */
h1 {
  font-family: "futura-bold";
  font-size: 20pt;
  margin: 10px 0 10px 0;
  color: rgb(34, 62, 94);
}

/* job titles, companies and schools */
h2 {
  font-family: paralucent;
  font-size: 23px;
  font-weight: 900;
  color: rgb(19, 19, 19);
  letter-spacing: 0.05em;
}

/* dates */
h4 {
  font-family: monospace;
  color: rgb(69, 196, 255);
  padding: 10px;
}

.logos {
  margin-right: 50px;
  width: 100px;
}

/* bullet points and tools */
li,
ul,
td {
  font-family: futura;
  font-weight: 100;
  font-size: 14px;
  padding: 3px;
  color: rgb(27, 27, 27);
}

p {
  font-family: paralucent;
  font-size: 11pt;
  letter-spacing: 0.05em;
  color: rgb(27, 27, 27);
  margin: 35px 40px 35px 0;
}

/* subtexts */
h5 {
  font-family: futura;
  font-weight: 200;
  font-size: 16px;
  color: rgb(39, 69, 104);
}

.table {
  color: white;
  width: 800px;
  font-family: paralucent;
  font-size: 23px;
  font-weight: 900;
  background-color: rgb(34, 62, 94);
  padding: 5px;
  letter-spacing: 0.1em;
}

.flexcontent {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: flex-start;
}

table,
td {
  border: 1px solid rgb(69, 196, 255);
  border-collapse: collapse;
}

/* table headers */
th {
  text-align: left;
  padding: 5px;
}

@media screen and (max-width: 900px) {
  .flexcontent {
    flex-direction: column;
    align-items: center;
  }

  .flexheader {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .logos {
    margin-bottom: 20px;
  }

  header {
    height: 250px;
  }
}
